header {
    display: block;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 15px 30px;
    background-color: #121212;
    color: #ffffff;
}

.logo {
    height: 200px;
    width: auto;
}

nav {
    align-items: center;
    align-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px;
}

nav ul li {
    padding: 5px;
}


nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

body {
    margin: 0px;
    display: box;
    grid-template-rows: 7rem 3rem auto 2rem;
    height: 100vh;
}

header {
    text-align: center;
}

img.logo {
    height: 7rem;
}

main {
    padding: 20px;
    min-height: 510px;
}

footer {
    background-color: #333333;
    color: #f2f2f2;
    text-align: center;
    font-size: 0.9em;
    border-top: 4px solid #b5975a;
    position: relative;
    width: 100%;
    height: 10%;
}